{{!-- CARD IDEA FOR RETURN RESULTS FOR JOB BOARD - WIP --}}

{{!-- <div class="card" style="width: 18rem;">
    {{#each posts}}
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{this.description}}</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  {{/each}}
</div> --}}
