<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Post Was Successfully Created!</h3>
        <div class="ui buttons">
          <a href="/employer/post">href=/<button class="ui green button">Create another post</button></a>
          <div class="or"></div>
          <a href="/"><button class="ui button">Back to dashboard</button></a>
        </div>
      </div>
    </div>
  </div>
