<form class="ui form">
  <h4 class="ui dividing header">Employer Information</h4>
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <input type="text" name="employer[first-name]" placeholder="First Name">
      </div>
      <div class="field">
        <input type="text" name="employer[last-name]" placeholder="Last Name">
      </div>
    </div>
  </div>
</form>