<div class="container">
  <h2 class="text-white">Login</h2>
  <form class="ui inverted form" id="login-form">
    <div class="field">
      <label>Email</label>
      <input type="text" name="first-name" placeholder="Email" />
    </div>
    <div class="field">
      <label>Password</label>
      <input type="text" name="last-name" placeholder="Password" />
    </div>
   
    <button class="ui button" type="submit">Submit</button>
    <p>
      <a class="mt-5" href="/signup">Don't have an account? Click here to sign up!</a>
    </p>
  </form>
</div>

<script src="/js/login.js"></script>